.search__container {
  .search__wrapper {
    margin: 15px 0;

    .search__input {
      padding: 10px;
      width: 100%;
      font-size: 1rem;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;

    .card__wrapper {
      margin: 2px;
      .card {
        .card__image {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}
